In [ ]:
import pandas as pd
import numpy as np

:

In [ ]:
df= pd.read_csv("aqi.csv")
df

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note
0,30-04-2025,Maharashtra,Amravati,2,PM10,78,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
1,30-04-2025,Bihar,Purnia,1,CO,56,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
2,30-04-2025,Madhya Pradesh,Katni,1,O3,98,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
3,30-04-2025,Chhattisgarh,Tumidih,1,PM10,103,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
4,30-04-2025,Assam,Byrnihat,1,PM2.5,61,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
...,...,...,...,...,...,...,...,...,...
235780,01-04-2022,Bihar,Arrah,1,PM10,210,Poor,number_of_monitoring_stations in Absolute Numb...,NaN
235781,01-04-2022,Rajasthan,Jaipur,3,"PM2.5,PM10",158,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
235782,01-04-2022,Maharashtra,Chandrapur,2,PM2.5,201,Poor,number_of_monitoring_stations in Absolute Numb...,NaN
235783,01-04-2022,Uttar Pradesh,Varanasi,4,PM10,128,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
235784,01-04-2022,Odisha,Brajrajnagar,1,O3,270,Poor,number_of_monitoring_stations in Absolute Numb...,NaN

:

In [ ]:
df.head()

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note
0,30-04-2025,Maharashtra,Amravati,2,PM10,78,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
1,30-04-2025,Bihar,Purnia,1,CO,56,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
2,30-04-2025,Madhya Pradesh,Katni,1,O3,98,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
3,30-04-2025,Chhattisgarh,Tumidih,1,PM10,103,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
4,30-04-2025,Assam,Byrnihat,1,PM2.5,61,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN

:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235785 entries, 0 to 235784
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           235785 non-null  object
 1   state                          235785 non-null  object
 2   area                           235785 non-null  object
 3   number_of_monitoring_stations  235785 non-null  int64
 4   prominent_pollutants           235785 non-null  object
 5   aqi_value                      235785 non-null  int64
 6   air_quality_status             235785 non-null  object
 7   unit                           235785 non-null  object
 8   note                           0 non-null       float64
dtypes: float64(1), int64(2), object(6)
memory usage: 16.2+ MB

:

In [ ]:
df.isnull().sum()

date                                  0
state                                 0
area                                  0
number_of_monitoring_stations         0
prominent_pollutants                  0
aqi_value                             0
air_quality_status                    0
unit                                  0
note                             235785
dtype: int64

:

In [ ]:
df.duplicated().sum()

np.int64(0)

:

In [ ]:
df.describe()

       number_of_monitoring_stations      aqi_value  note
count                  235785.000000  235785.000000   0.0
mean                        1.870653     111.127294   NaN
std                         3.071575      71.447353   NaN
min                         1.000000       3.000000   NaN
25%                         1.000000      59.000000   NaN
50%                         1.000000      92.000000   NaN
75%                         1.000000     142.000000   NaN
max                        40.000000     500.000000   NaN

:

In [ ]:
df['date'] = pd.to_datetime(df['date'])

C:\Users\anwer\AppData\Local\Temp\ipykernel_3312\3532345252.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date'])

:

In [ ]:
try:
    df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
    print("The 'date' column has been successfully converted to datetime objects.")
except Exception as e:
    print(f"Error converting 'date' column: {e}")

The 'date' column has been successfully converted to datetime objects.

:

In [ ]:
print("\n--- Value Counts for Categorical Columns ---")
print("Unique States:", df['state'].nunique())

--- Value Counts for Categorical Columns ---
Unique States: 32

:

In [ ]:
print("\n--- Value Counts for Categorical Columns ---")
print("Unique States:", df['area'].nunique())

--- Value Counts for Categorical Columns ---
Unique States: 291

:

In [ ]:
print("\nUnique Areas:", df['area'].nunique())
print(df['area'].value_counts().head(10)) # Show top 10 areas, as there might be many
print("\nUnique Prominent Pollutants (prominent_pollutants):")
print(df['prominent_pollutants'].value_counts())
print("\nUnique Air Quality Categories (air_quality_status):")
print(df['air_quality_status'].value_counts())

Unique Areas: 291
area
Aurangabad    1897
Patna         1125
Bengaluru     1125
Delhi         1125
Kanpur        1125
Chandigarh    1125
Jaipur        1125
Agra          1125
Lucknow       1125
Moradabad     1125
Name: count, dtype: int64

Unique Prominent Pollutants (prominent_pollutants):
prominent_pollutants
PM10                 111053
PM2.5                 59670
O3                    16202
PM2.5,PM10            13199
CO                    12867
PM10,O3                3914
SO2                    3815
NO2                    3012
PM10,CO                2658
PM2.5,O3               2088
PM10,NO2               1278
O3,PM2.5,PM10          1019
PM2.5,PM10,CO           710
PM10,SO2                551
CO,O3                   543
PM10,O3,CO              418
PM2.5,NO2               415
PM10,PM2.5,NO2          281
PM2.5,SO2               278
CO,NO2                  274
PM10,NO2,O3             216
NO2,PM10,CO             191
CO,SO2                  167
NO2,O3                  139
PM10,PM2.5,SO2          111
SO2,O3                  109
PM2.5,CO,O3              99
PM10,CO,SO2              69
NH3                      69
PM10,SO2,O3              65
NO2,CO,O3                49
PM10,NO2,PM2.5,O3        43
PM2.5,CO,NO2             40
PM2.5,CO,SO2             36
NO2,SO2                  34
PM10,NO2,SO3             25
PM2.5,SO2,O3             21
SO3,CO,O3                15
PM2.5,NO2,SO2            13
NO2,SO2,CO                9
NO2,O3,SO2                6
PM2.5,NH3                 5
PM10,NH3                  2
PM10,NH3,O3               2
PM10,NH3,CO               1
PM2.5,NH3,O3              1
NH3,CO,O3                 1
O3,NH3                    1
PM2.5,NH3,CO              1
Name: count, dtype: int64

Unique Air Quality Categories (air_quality_status):
air_quality_status
Satisfactory    88897
Moderate        77537
Good            41971
Poor            21154
Very Poor        5671
Severe            555
Name: count, dtype: int64

:

In [ ]:
df['date'].dtype
df['state'].dtype
df['area'].dtype

dtype('O')

:

In [ ]:
# --- 1. Basic Statistics of AQI Value ---
print("\n--- Descriptive Statistics for AQI Value ---")
print(df['aqi_value'].describe())

--- Descriptive Statistics for AQI Value ---
count    235785.000000
mean        111.127294
std          71.447353
min           3.000000
25%          59.000000
50%          92.000000
75%         142.000000
max         500.000000
Name: aqi_value, dtype: float64

:

In [ ]:

# Average AQI by State
print("\n--- Average AQI by State ---")
avg_aqi_state = df.groupby('state')['aqi_value'].mean().sort_values(ascending=False).reset_index()
print(avg_aqi_state)

--- Average AQI by State ---
                          state   aqi_value
0                         Delhi  206.416889
1                     Jharkhand  164.940361
2              Himachal Pradesh  160.257036
3                         Bihar  157.158122
4                    Chandigarh  141.561778
5                       Haryana  140.852806
6                     Rajasthan  127.987248
7                       Tripura  126.697585
8                 Uttar Pradesh  126.424036
9                        Odisha  124.879719
10                       Punjab  117.854265
11                  West Bengal  114.192891
12                        Assam  114.117456
13                      Gujarat  110.634272
14               Madhya Pradesh  108.716483
15                  Maharashtra  103.639833
16                      Manipur  100.927361
17                  Uttarakhand   87.898799
18                    Telangana   81.012444
19                     Nagaland   80.458725
20                 Chhattisgarh   78.986321
21               Andhra Pradesh   77.507701
22            Jammu and Kashmir   69.495434
23                       Kerala   68.070147
24                   Tamil Nadu   67.757654
25                    Meghalaya   62.731121
26                    Karnataka   62.672853
27  Andaman and Nicobar Islands   57.706897
28                   Puducherry   56.514019
29            Arunachal Pradesh   54.485265
30                       Sikkim   53.688995
31                      Mizoram   47.247000

:

In [ ]:
# Most Common Air Quality Category by State
print("\n--- Most Frequent Air Quality Category by State ---")
# Get the mode (most frequent) category for each state
most_common_aqi_cat_state = df.groupby('state')['air_quality_status'].agg(lambda x: x.mode()[0] if not x.mode().empty else 'No Data').reset_index()
print(most_common_aqi_cat_state)

--- Most Frequent Air Quality Category by State ---
                          state air_quality_status
0   Andaman and Nicobar Islands       Satisfactory
1                Andhra Pradesh       Satisfactory
2             Arunachal Pradesh               Good
3                         Assam       Satisfactory
4                         Bihar           Moderate
5                    Chandigarh           Moderate
6                  Chhattisgarh       Satisfactory
7                         Delhi           Moderate
8                       Gujarat       Satisfactory
9                       Haryana           Moderate
10             Himachal Pradesh           Moderate
11            Jammu and Kashmir       Satisfactory
12                    Jharkhand           Moderate
13                    Karnataka       Satisfactory
14                       Kerala       Satisfactory
15               Madhya Pradesh           Moderate
16                  Maharashtra           Moderate
17                      Manipur       Satisfactory
18                    Meghalaya               Good
19                      Mizoram               Good
20                     Nagaland       Satisfactory
21                       Odisha           Moderate
22                   Puducherry               Good
23                       Punjab           Moderate
24                    Rajasthan           Moderate
25                       Sikkim       Satisfactory
26                   Tamil Nadu       Satisfactory
27                    Telangana       Satisfactory
28                      Tripura       Satisfactory
29                Uttar Pradesh           Moderate
30                  Uttarakhand       Satisfactory
31                  West Bengal       Satisfactory

:

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['month_name'] = df['date'].dt.month_name()

:

In [ ]:
df['year'] = df['date'].dt.year

:

In [ ]:
# Monthly Average AQI over time
print("\n--- Monthly Average AQI Trend (Overall) ---")
monthly_avg_aqi=df.groupby(['year','month'])['aqi_value'].mean().reset_index().sort_values(by=['year','month'])
print(monthly_avg_aqi)

--- Monthly Average AQI Trend (Overall) ---
    year  month   aqi_value
0   2022      4  140.681279
1   2022      5  122.354040
2   2022      6  106.250000
3   2022      7   61.290134
4   2022      8   64.694450
5   2022      9   70.024571
6   2022     10  111.067442
7   2022     11  164.375313
8   2022     12  173.903564
9   2023      1  171.742263
10  2023      2  144.538650
11  2023      3  114.564054
12  2023      4  114.111402
13  2023      5  102.753174
14  2023      6   88.414430
15  2023      7   64.684243
16  2023      8   77.016944
17  2023      9   70.832977
18  2023     10  114.161864
19  2023     11  167.330000
20  2023     12  152.813662
21  2024      1  157.626969
22  2024      2  120.884188
23  2024      3  108.912688
24  2024      4  111.173055
25  2024      5  108.415647
26  2024      6   89.758008
27  2024      7   62.150704
28  2024      8   55.236735
29  2024      9   63.148712
30  2024     10   98.658854
31  2024     11  153.137064
32  2024     12  131.505895
33  2025      1  131.369655
34  2025      2  112.870330
35  2025      3  105.540028
36  2025      4   99.392974

:

In [ ]:
print("\n--- Count of Each Air Quality Category by State ---")
AQI_count_state=df.groupby('state')['air_quality_status'].value_counts().sort_values(ascending=False).unstack(fill_value=0)
print(AQI_count_state)

--- Count of Each Air Quality Category by State ---
air_quality_status            Good  Moderate  Poor  Satisfactory  Severe  \
state
Andaman and Nicobar Islands     26         4     0            28       0
Andhra Pradesh                2072      1268   188          3535       2
Arunachal Pradesh              273        45     0           191       0
Assam                         1319       911   686          1733      17
Bihar                         1504      8146  3747          5928     297
Chandigarh                      63       518   177           320       1
Chhattisgarh                  1291      1178    91          2993       0
Delhi                            4       403   288           190      38
Gujarat                        629      2411   482          2632       0
Haryana                       1803      8424  3692          6698      89
Himachal Pradesh                11       575   197           229       4
Jammu and Kashmir              173        58     8           199       0
Jharkhand                        7       505   131            55       1
Karnataka                    10335      2454    78         10620       3
Kerala                        1258       436    45          3835       0
Madhya Pradesh                2268      5957  1151          5930       4
Maharashtra                   3577      9579  1098          8137       1
Manipur                         15       368    15           423       2
Meghalaya                      469       144    10           250       1
Mizoram                        630        70     0           300       0
Nagaland                       193       234     5           525       0
Odisha                        1298      4447  1470          3684       1
Puducherry                     533        48     8           481       0
Punjab                         583      3649   777          3384       2
Rajasthan                     1490     12549  2720          9159      46
Sikkim                         389        49     5           393       0
Tamil Nadu                    4718      1541   176          5494       0
Telangana                       82       222     0           821       0
Tripura                        220       249   215           318       0
Uttar Pradesh                 2791      8257  2718          7048      46
Uttarakhand                    524       641    75          1089       0
West Bengal                   1423      2197   901          2275       0

air_quality_status           Very Poor
state
Andaman and Nicobar Islands          0
Andhra Pradesh                      12
Arunachal Pradesh                    0
Assam                              255
Bihar                             1931
Chandigarh                          46
Chhattisgarh                         3
Delhi                              202
Gujarat                             61
Haryana                           1000
Himachal Pradesh                    50
Jammu and Kashmir                    0
Jharkhand                           22
Karnataka                            4
Kerala                               0
Madhya Pradesh                     167
Maharashtra                         67
Manipur                              3
Meghalaya                            0
Mizoram                              0
Nagaland                             0
Odisha                             199
Puducherry                           0
Punjab                              93
Rajasthan                          621
Sikkim                               0
Tamil Nadu                          25
Telangana                            0
Tripura                             33
Uttar Pradesh                      749
Uttarakhand                          3
West Bengal                        125

:

In [ ]:
# --- 3. Area-wise Analysis (within states) ---

# Average AQI by State and Area
print("\n--- Average AQI by State and Area (Top 20 overall) ---")

Avg_aqistate_area=df.groupby(['state','area'])['aqi_value'].mean().sort_values(ascending=False).reset_index()
print(Avg_aqistate_area.head(20))

--- Average AQI by State and Area (Top 20 overall) ---
            state            area   aqi_value
0           Assam        Byrnihat  239.995427
1           Bihar       Begusarai  206.680412
2           Delhi           Delhi  206.416889
3   Uttar Pradesh   Greater Noida  201.601959
4       Rajasthan  Sri Ganganagar  197.939351
5         Haryana        Gurugram  190.848214
6           Bihar       Darbhanga  190.089844
7         Haryana       Dharuhera  185.722513
8   Uttar Pradesh           NOIDA  183.989324
9   Uttar Pradesh       Ghaziabad  183.010676
10        Haryana       Faridabad  181.926874
11      Rajasthan         Bhiwadi  181.607502
12          Bihar           Siwan  181.229855
13          Bihar           Patna  179.927111
14      Rajasthan     Hanumangarh  177.823197
15          Bihar         Chhapra  176.245690
16  Uttar Pradesh   Muzaffarnagar  175.574219
17      Jharkhand         Dhanbad  173.415751
18          Bihar      Samastipur  170.894318
19          Bihar         Saharsa  169.871539

:

In [ ]:
# Most Common Prominent Pollutant by State and Area
print("Most Frequent Prominent Pollutant by State and Area (Top 20 overall)")
prominent_pollutants_area = df.groupby(['state', 'area'])['prominent_pollutants'] \
                               .apply(lambda x: x.mode().iloc[0]) \
                               .reset_index(name='most_common_pollutant')

print(prominent_pollutants_area)

Most Frequent Prominent Pollutant by State and Area (Top 20 overall)
                           state              area most_common_pollutant
0    Andaman and Nicobar Islands  Sri Vijaya Puram                  PM10
1                 Andhra Pradesh         Amaravati                  PM10
2                 Andhra Pradesh         Anantapur                  PM10
3                 Andhra Pradesh          Chittoor                 PM2.5
4                 Andhra Pradesh            Kadapa                 PM2.5
..                           ...               ...                   ...
287                  West Bengal          Durgapur                  PM10
288                  West Bengal            Haldia                  PM10
289                  West Bengal            Howrah                  PM10
290                  West Bengal           Kolkata                 PM2.5
291                  West Bengal          Siliguri                  PM10

[292 rows x 3 columns]

:

In [ ]:
# Monthly Average AQI by State
print("\n--- Monthly Average AQI Trend by State (e.g., for top 3 states by overall average AQI) ---")
# Get top 3 states 
top_state_aqi=avg_aqi_state['state'].head(3).tolist()

# Filter original dataframe for only those states
filtered_df = df[df['state'].isin(top_state_aqi)]
monthly_top_state_aqi=filtered_df.groupby(['year','month','state'])['aqi_value'].mean().reset_index().sort_values(by=['year','month','state'])

print(monthly_top_state_aqi)

--- Monthly Average AQI Trend by State (e.g., for top 3 states by overall average AQI) ---
     year  month             state   aqi_value
0    2022      4             Delhi  255.400000
1    2022      4  Himachal Pradesh  160.931034
2    2022      5             Delhi  212.161290
3    2022      5  Himachal Pradesh  142.172414
4    2022      6             Delhi  190.033333
..    ...    ...               ...         ...
96   2025      3  Himachal Pradesh  130.161290
97   2025      3         Jharkhand  145.888889
98   2025      4             Delhi  210.400000
99   2025      4  Himachal Pradesh  160.166667
100  2025      4         Jharkhand  146.000000

[101 rows x 4 columns]

:

In [ ]:
file_name = 'aqi.csv'

# --- Step 2: Load the Data ---
try:
    df = pd.read_csv(file_name)
    print(f"Data loaded successfully from {file_name}.")
except FileNotFoundError:
    print(f"Error: '{file_name}' not found. Please ensure the file is in the correct directory.")
    exit()

# --- Step 3: Convert the 'date' column to datetime objects ---
try:
    df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
    print("The 'date' column has been successfully converted to datetime objects.")
except Exception as e:
    print(f"Error converting 'date' column: {e}")
    print("Please check if the 'date' column truly follows the DD-MM-YYYY format or if its name is correct.")
    exit()

# --- Step 4: Convert 'aqi_value' to numeric (if it's not already) ---
# This ensures it's treated as a number in Power BI for calculations.
original_dtype_aqi = df['aqi_value'].dtype
if original_dtype_aqi == 'object':
    print(f"'{original_dtype_aqi}' dtype detected for 'aqi_value'. Attempting conversion to numeric.")
    df['aqi_value'] = pd.to_numeric(df['aqi_value'], errors='coerce')
    if df['aqi_value'].isnull().any():
        print("Warning: NaN values introduced in 'aqi_value' after conversion. Please inspect if unexpected.")
    else:
        print("Conversion successful: 'aqi_value' is now numeric with no new NaNs.")
else:
    print(f"'aqi_value' is already of dtype: {original_dtype_aqi}. No conversion needed.")

# --- Step 5: Create new time-based features (year, month, month_name) ---
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['month_name'] = df['date'].dt.month_name()
print("Created 'year', 'month', and 'month_name' columns.")


# --- Step 6: Export the main processed DataFrame to a CSV file for Power BI ---
output_file_name = 'air_quality_processed_for_powerbi.csv'
df.to_csv(output_file_name, index=False) # index=False prevents writing the Pandas DataFrame index as a column

print(f"\n--- Export Complete ---")
print(f"Your main processed DataFrame has been saved to: '{output_file_name}'")
print(f"You can now import this CSV file into Power BI Desktop.")

Data loaded successfully from aqi.csv.
The 'date' column has been successfully converted to datetime objects.
'aqi_value' is already of dtype: int64. No conversion needed.
Created 'year', 'month', and 'month_name' columns.

--- Export Complete ---
Your main processed DataFrame has been saved to: 'air_quality_processed_for_powerbi.csv'
You can now import this CSV file into Power BI Desktop.

:

In [ ]:
start_date_filter = pd.to_datetime('01-12-2024', format='%d-%m-%Y') # December 1, 2024
end_date_filter = pd.to_datetime('31-05-2025', format='%d-%m-%Y')   # May 31, 2025

filtered_df = df[(df['date'] >= start_date_filter) & (df['date'] <= end_date_filter)].copy()

if filtered_df.empty:
    print(f"No data found in the specified range: {start_date_filter.strftime('%d-%m-%Y')} to {end_date_filter.strftime('%d-%m-%Y')}.")
else:
    print(f"Filtered DataFrame shape: {filtered_df.shape}")
    print(f"Date range of filtered data: {filtered_df['date'].min().strftime('%d-%m-%Y')} to {filtered_df['date'].max().strftime('%d-%m-%Y')}")

#Export the filtered DataFrame to a new CSV file ---
output_filtered_file_name = 'air_quality_dec2024_may2025.csv'
filtered_df.to_csv(output_filtered_file_name, index=False) # index=False prevents writing the Pandas DataFrame index

print(f"\n--- Export Complete ---")
print(f"Filtered data (Dec 2024 - May 2025) saved to: '{output_filtered_file_name}'")
print(f"You can now use this CSV file for specific analysis or import into Power BI.")




#

Filtered DataFrame shape: (34878, 12)
Date range of filtered data: 01-12-2024 to 30-04-2025

--- Export Complete ---
Filtered data (Dec 2024 - May 2025) saved to: 'air_quality_dec2024_may2025.csv'
You can now use this CSV file for specific analysis or import into Power BI.

:

In [ ]:
# --- Analysis: Top 2 and Bottom 2 Prominent Pollutants for Southern India States + Andaman & Nicobar (Post-2022) ---

print("\n--- Analyzing Prominent Pollutants for Southern India States + Andaman & Nicobar (Post 2022) ---")

# Define Southern India

southern_states = [
    'Andhra Pradesh',
    'Karnataka',
    'Kerala',
    'Tamil Nadu',
    'Telangana',
    'Puducherry', 
]


# Filter data for post-2022 and Southern Indian states
df = pd.read_csv('aqi.csv')
filtered_region_df =df[df['state'].isin(southern_states)].copy()

if filtered_region_df.empty:
    print("\nNo data found for the specified states/UTs post-2022. Please check state names and date range.")
else:
    # 1. Count occurrences of each prominent pollutant per state
    pollutant_counts = filtered_region_df.groupby(['state', 'prominent_pollutants']).size().reset_index(name='count')

    if pollutant_counts.empty:
        print("\nNo prominent pollutant data found for analysis after filtering prominent pollutant column itself.")
    else:
        # 2. Find Top 2 Prominent Pollutants for each state
        top_2_pollutants = pollutant_counts.groupby('state').apply(lambda x: x.nlargest(2, 'count')).reset_index(drop=True)

        print("\n--- Top 2 Prominent Pollutants for Each Southern Indian State ---")
        print(top_2_pollutants)

        # 3. Find Bottom 2 Prominent Pollutants for each state/UT
        bottom_2_pollutants = pollutant_counts.groupby('state').apply(lambda x: x.nsmallest(2, 'count')).reset_index(drop=True)

        print("\n--- Bottom 2 Prominent Pollutants for Each Southern Indian State (Post 2022) ---")
        print(bottom_2_pollutants)

# --- Optional: Export these results if needed for further use or specific Power BI visuals ---
# top_2_pollutants.to_csv('southern_and_islands_top2_prominent_pollutants.csv', index=False)
# bottom_2_pollutants.to_csv('southern_and_islands_bottom2_prominent_pollutants.csv', index=False)
# print("\nExported top and bottom 2 prominent pollutant data to CSVs.")

print("\n--- Analysis Complete ---")

--- Analyzing Prominent Pollutants for Southern India States + Andaman & Nicobar (Post 2022) ---

--- Top 2 Prominent Pollutants for Each Southern Indian State ---
             state prominent_pollutants  count
0   Andhra Pradesh                 PM10   3182
1   Andhra Pradesh                PM2.5   1757
2        Karnataka                 PM10  13404
3        Karnataka                   CO   2913
4           Kerala                 PM10   3167
5           Kerala                PM2.5   1123
6       Puducherry                 PM10    413
7       Puducherry                   O3    303
8       Tamil Nadu                 PM10   6253
9       Tamil Nadu                PM2.5   2268
10       Telangana           PM2.5,PM10    343
11       Telangana                 PM10    315

--- Bottom 2 Prominent Pollutants for Each Southern Indian State (Post 2022) ---
             state prominent_pollutants  count
0   Andhra Pradesh          PM10,NO2,O3      1
1   Andhra Pradesh    PM10,NO2,PM2.5,O3      1
2        Karnataka               NO2,O3      1
3        Karnataka           NO2,SO2,CO      1
4           Kerala                CO,O3      6
5           Kerala                  SO2      7
6       Puducherry                   CO    148
7       Puducherry                PM2.5    206
8       Tamil Nadu          PM10,NH3,CO      1
9       Tamil Nadu    PM10,NO2,PM2.5,O3      1
10       Telangana                CO,O3      1
11       Telangana                  NO2      1

--- Analysis Complete ---

C:\Users\anwer\AppData\Local\Temp\ipykernel_3312\2206408374.py:31: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_2_pollutants = pollutant_counts.groupby('state').apply(lambda x: x.nlargest(2, 'count')).reset_index(drop=True)
C:\Users\anwer\AppData\Local\Temp\ipykernel_3312\2206408374.py:37: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  bottom_2_pollutants = pollutant_counts.groupby('state').apply(lambda x: x.nsmallest(2, 'count')).reset_index(drop=True)

:

In [ ]:
from datetime import *
metro_cities=["Delhi",
"Mumbai", "Chennai", "Kolkata", "Bengaluru", "Hyderabad", "Ahmedabad", "Pune"]


current_date=datetime(2025, 7, 26) 
start_date=current_date-timedelta(days-365)
end_date=current_date-timedelta(days-1)
print(f"Analysisng data from{start_date} to {end_date}")

filtered_area_df =df[df['area'].isin(metro_cities)]&[df['date']>=start_date]&[df['date']<=end_date]
if filtered_area_df.empty:
    print("\nNo data found for the specified area for 1 year. Please check area names and date range.")
else:
    filtered_area_df['day_type'] = metro_df['date'].dt.dayofweek.apply(lambda x: 'Weekend' if x >= 5 else 'Weekday')

    # Calculate the average AQI for each city by day type
    aqi_weekday_weekend = filtered_area_df.groupby(['area', 'day_type'])['aqi_value'].mean().unstack(fill_value=0)
    # Calculate the difference (Weekday AQI - Weekend AQI)
    Difference=aqi_weekday_weekend['weekday']-aqi_weekday_weekend["weekend"]
     # Calculate the %change in (WeekendAQI - Weekday AQI)By weekday
    weekend_weekday%_change=((aqi_weekday_weekend['Weekend'] - aqi_weekday_weekend['Weekday']) / aqi_weekday_weekend['Weekday']) * 100
   

    print("\n--- Average AQI: Weekdays vs. Weekends in Metro Cities ---")
    # Sort by the difference to see which cities have the most improvement/degradation
    print(aqi_weekday_weekend.sort_values(by='Difference', ascending=False).round(2))

    print("\n--- %change AQI: Weekdays vs. Weekends in Metro Cities ---")

    print(aqi_weekday_weekend.sort_values(by='weekend_weekday%_change', ascending=False).round(2))

: